/* The sidebar menu */
.sidebarFormat {
  display: flex;
  align-items: center;
}

.sidebar_inactive {
  height: 100%; /* 100% Full-height */
  width: 0vh; /* 0 width - change this with JavaScript */
  /* margin-left: 0vh; */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  margin-top: 100px;
  padding-top: 1em; /* Place content 60px from the top */
  transition: 0.3s; /* 0.5 second transition effect to slide in the sidebar */

}

.sidebar {
  height: 100%; /* 100% Full-height */
  width: 25vh; /* 0 width - change this with JavaScript */
  /* margin-left: 25vh; */
  position: fixed;
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  margin-top: 100px;
  padding-top: 1em; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 0px .75em .75em 1em;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-family: monospace;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #dfb66c;
}

.sidebar_inactive a {
  padding: 0px .75em .75em 1em;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-family: monospace;
}

.togglebtn {
  z-index: 10;
}